/// .hero
/// 
/// Establece el estilo para la sección principal (hero) de la página. Utiliza una imagen de fondo,
/// con un tamaño de 80vh de altura. Se centra todo el contenido en un layout flexible, con un color de texto blanco.
/// Se aplica una capa de superposición para oscurecer ligeramente la imagen de fondo.
/// 
/// @property {String} background url("../src/img/fondo.jpg") no-repeat center center/cover Establece la imagen de fondo y su ajuste.
/// @property {String} height 80vh Establece la altura de la sección hero a 80% de la altura del viewport.
/// @property {String} display flex Utiliza flexbox para el centrado de contenido.
/// @property {String} flex-direction column Coloca los elementos en una columna.
/// @property {String} color #fff Establece el color de texto como blanco.
/// @property {String} text-align center Alinea el texto al centro.
/// @property {String} position relative Establece la posición del contenedor como relativa.
.hero {
  background: url("../src/img/fondo.jpg") no-repeat center center/cover;
  height: 80vh;
  @include flex-center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;

  /// &::before
  /// 
  /// Aplica una capa de superposición sobre la imagen de fondo para oscurecerla un poco.
  /// 
  /// @property {String} content '' Establece un contenido vacío para el pseudo-elemento.
  /// @property {String} position absolute Coloca el pseudo-elemento de manera absoluta.
  /// @property {String} background rgba(0, 0, 0, 0.1) Aplica un fondo semi-transparente.
  /// @property {String} z-index 1 Establece el z-index para que la capa esté por debajo del texto.
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  /// h1
  /// 
  /// Establece el estilo para el encabezado principal (h1) dentro de la sección hero, con un tamaño de fuente grande,
  /// y un sombreado de texto para mejorar la visibilidad sobre la imagen de fondo.
  /// 
  /// @property {String} font-size font-size(xxl) Define el tamaño de la fuente para el encabezado h1.
  /// @property {String} z-index 2 Asegura que el texto esté por encima de la capa de superposición.
  /// @property {String} text-shadow 2px 2px 4px rgba(0, 0, 0, 0.7) Aplica un sombreado de texto para mejorar la visibilidad.
  h1 {
    font-size: font-size(xxl);
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  /// p
  /// 
  /// Establece el estilo para el párrafo dentro de la sección hero, con un tamaño de fuente medio,
  /// y un sombreado de texto similar al de h1.
  /// 
  /// @property {String} font-size font-size(large) Define el tamaño de la fuente para el párrafo.
  /// @property {String} z-index 2 Asegura que el texto esté por encima de la capa de superposición.
  /// @property {String} text-shadow 1px 1px 3px rgba(0, 0, 0, 0.7) Aplica un sombreado de texto para mejorar la visibilidad.
  p {
    font-size: font-size(large);
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
}
